RewriteEngine on
RewriteRule ^report/([0-9a-zA-Z]+)$ /report.php?id=$1 [L]
#RewriteRule ^report/*$ / [r=301,nc]
RewriteRule ^report/([0-9a-zA-Z]+)/(.+)$ /$1/$2 [R=301,NC,L]
RewriteRule ^report/(.+)$ /$1 [R=301,NC,L]
