/* globals */

body {
	font-family: "Helvetica", sans-serif;       
	margin: 0;
}

/* layout */

#wrapper {
	margin: 0px auto;
	padding-top: 5px;
	width: 1000px;
	border-top: 8px solid #AAA;
	border-bottom: 8px solid #AAA;
}

#header {
	font-size: 1.5em;
	color: #BBB;
}

#input{
}

#footer{
	padding-top: 55px;
}

#enter-ids {
	float:left;
	width: 33%;	
	margin-right:1%;
}

#enter-mendeley {
	float:left;
	width: 32%;	
	margin-right:1%;
}

#enter-other {
	float:left;
	width: 32%;	
}



#outputs {
	font-size: 10pt;
	float: right;
}

#report-meta {
	font-size: 90%;
	padding: .5em;
}

/* HTML elements */

h2 {
	color: #933;	
}

h3 {
	margin: 0px;
	margin-top:20px;
}

a {
	color: #933;	
}

hr {
	border: 0;
	background-color: #CCC;
	height: 1px;
}

em.url {
	font-style: normal;
	font-size: 90%;
	color: #999;	
}

p.prompt {
	padding: 0em;
	font-size: 1em;    
}

p.howto {
	width: 95%;
	background-color: #EEE;
	color: #666;
	padding: .6em;
	font-size: 100%;
	border: 1px solid #CCC;	
}

p.sp {
	margin-top: 2em;	
	margin-bottom: 0;	
}


/* form elements */

textarea#artifactList {
	width: 98%;	
}

input, textarea {
	border: 1px solid #CCC;	
	background-color: #EEE;	
}

button
{
	border-top: none;
	border-left: none;	
	border-bottom: 1px solid #EEE;
	border-right: 1px solid #EEE;
	background-color: #933;		
	color: #FFF;
}

input.report
{
	border-top: none;
	border-left: none;	
	border-bottom: 1px solid #EEE;
	border-right: 1px solid #EEE;
	background-color: #933;		
	color: #FFF;
}

input.FAQ
{
	border-top: none;
	border-left: none;	
	border-bottom: 1px solid #EEE;
	border-right: 1px solid #EEE;
	background-color: grey;		
	color: #FFF;
}

button:hover
{
	border-top: none;
	border-left: none;	
	border-bottom: 1px solid #EEE;
	border-right: 1px solid #EEE;
	background-color: #999;		
	color: #FFF;
}

fieldset {
	border: 1px solid #CCC;
	margin-top:0.5em;
	margin-right:1em;
}

legend {
	font-size: 1.2em;
	color: #BBB;
	padding:0;
}

/* custom classes */

.disabled { 
    color:grey; /* This property is for the text colour */ 
    }

.entry .id {
	font-size: 8pt;
	padding-left: 18px;
	padding-bottom: 4px;
	
}

.entry .metric_value {
	font-size: 32pt;
	float: left;
	color: #4c4cff;
	padding-left: 18px;
	padding-right: 8px;	
	border-right-style:solid;
}

.entry .metric_info {
	float:left;
	
}
.entry .metric_name {
	padding-top: 3px;
	padding-left: 20px;
	font-size: 12pt;
	
}

.entry .metric_img {
    padding-top: 8px;
	padding-left: 20px;
}
        
        
.section-title {
    background: lightgrey;
	clear:both;
}

.section {
}

div#about_metrics {
	margin-top: 2em;	
	background-color: #EEE;
	padding: 1em 2em 3em 2em;
}


div#footer {
	margin-top: 2em;	
	background-color: #EEE;
	padding: 1em 2em 3em 2em;
}


/* tooltip */

.tooltip, .trigger {
	cursor: help;
	padding-left:.2em;
	font-size: .9em;
	font-family: serif;
}

#tt {
	position:absolute;
	display:block;
	background:url(img/tt_left.gif) top left no-repeat;
}

#tttop {
	display:block;
	height:5px;
	margin-left:5px;
	background:url(img/tt_top.gif) top right no-repeat;
	overflow:hidden;
}

#ttcont {
	display:block;
	padding:2px 12px 3px 7px;
	margin-left:5px;
	background:#666;
	color:#fff;
	text-align: left;
}

#ttbot {
	display:block;
	height:5px;
	margin-left:5px;
	background:url(img/tt_bottom.gif) top right no-repeat;
	overflow:hidden;
}

.badge  {
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 5px;
    background: #EEE;
    padding: 2px 3px;
	border: 1px solid #CCC;
    -webkit-border-radius: 3px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 3px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 3px;	
	text-shadow: 1px 1px 0px #FFF;	
	font-size: 90%;
	text-decoration: none;
	color: #999;
}

#permalink  {
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 3px;
    padding: 2px 3px;
	border: 1px solid #CCC;
    -webkit-border-radius: 3px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 3px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 3px;	
	text-shadow: 1px 1px 0px #FFF;	
	font-size: 90%;
	text-decoration: none;
	color: #999;
}

#permalink a {
	text-decoration: none;
}

.debugging {
	float: right;
	margin-right: .5em;	
}

.something-missing {
	clear: left;
	margin-right: .5em;	
	padding-top: .5em;	
}

.report-button {
	float: left;
	margin-right: .5em;	
}

.created-at {
	float: left;
	margin-right: .5em;	
}

.updated-at {
	float: left;
	margin-right: .5em;	
}

.permalink {
	float: left;
	margin-right: .5em;	
}

.artifacts-count {
	clear: left;
	float: left;
	margin-right: .5em;	
}

.tweet-this {
	clear: left;
}

.twitter-feed {
    clear:both; 
    padding-top: 30px;
}

li.artifact {
	list-style-type: none;
	border: 0px solid #CCC;
	padding: 0.3em;
	margin-bottom: 1em;
	clear: left;
}

li.artifact h3 {
	font-weight: normal;
	margin-top: 0;
	padding-top: 1em;
	color: #AAA;
	font-size : 80%;
}

.genre {
    clear: left;    
	padding-top: 1em;
}

/*
.metrics-div  a{
    text-decoration: none;
    color: green;
}
*/
ul.metrics li{
    list-style-type:none;
}
ul.biblio li {
    list-style-type: none;
}
ul.metrics li {
    float: left;
    height: 6em;
    margin-right: 7px;
}

ul.metrics a{
    text-decoration: none;
    font-weight: bold;
    list-style-type:none;
}

.metric-name {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(-90deg);
    -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=3)';
    color: #CCCCCC;
    display: block;
    font-size: 50%;
    margin-top: 4px;
    width: 3em;
}

ul.source-list {
	padding: 0;	
}

.metric-image {
    margin: 0 3px;
}

.metric-img-name {
    display:block;
}

.metrics {
	padding-top: 2em;
}

ul.source-list_NO {
	padding: 0;	
    clear: left;
}

.metrics-div_NO {
    width: 40px;
    position: relative;
    padding:10px 30px 0;
    float: left;
}

.metric-name_NO {
	font-size: 10%;    
    rotation: 90deg !important;
     -moz-transform: rotate(-90deg);  /* FF3.5+ */
       -o-transform: rotate(-90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */
         display:block;
         position:absolute;
         left: 18px;
         color: purple;
         word-wrap: break-word;
}
