/* globals */


body {
	font-family: "Helvetica", sans-serif;       
	margin: 0;
        border-top:5px solid #555;

}

body a:link {
    text-decoration: none;
}
body a:hover {
    text-decoration: underline;
}

#wrapper {
	margin: 150px auto 0;
	width: 1150px;
}
body.report #wrapper {
    margin-top: 100px;
}
body.home #wrapper {
/*    width: 1000px;*/
}
body#about #wrapper {
    margin-top: 150px;
        width: 900px;
}
body div#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #777;
    background-color: #333;
    padding: 10px;
    color:#eee;
    opacity: 0.9;
    font-size: 10px;
    font-family: "helvitica", "arial", sans-serif;
    width: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    box-shadow: 2px 2px 3px #555;
}
body div#tooltip.viewport-right {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
}


div#tooltip p, div#tooltip div, div#tooltip h3 {
    margin:0;
    padding:0;
}

/* header ************************************/

#header {
    font-size: 1.5em;
    color: #BBB;
}

h1 a {
    background-image:url(./img/ti_logo.png);
    background-repeat: no-repeat;
    background-color:#dadada;
    height: 52px;
    text-indent: -9999px;
    width: 253px;
    padding-top:10px;
    margin-left:40px;
    border: 3px solid #933;
    border-top: 1px solid #999;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    display:block;
    position: absolute;
    top:0;
    left:75px;
   box-shadow: -1px 0 10px -2px #333333;
}
h1 a:hover {
    padding-top:13px;
    background-position: 0 3px;
}

ul#nav {
    margin-top: -31px;
    text-align: right;
    font-size: 20px;
    font-family: 'Lobster Two', helvetica, arial, sans-serif;
    font-style: italic;
    position: absolute;
    top:30px;
    right: 90px;

}

ul#nav li {
    display:block;
    float:right;
    list-style-type:none;
    margin-right:15px;

}
ul#nav li a {
    padding: 5px 10px 0;
    background-color: #aaa;
    color: #fff;
    display:block;
    border:1px solid #ddd;
    border-top:5px solid #888;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    box-shadow: -2px 1px 5px -1px #333333; 
}

ul#nav li a:hover {
    text-decoration: none;
    padding-top: 8px;
}

/* about ************************************/

div#about{
    margin-top: 50px;

}


#input{
}

#footer{
	padding-top: 55px;
}

#enter-ids {
	float:left;
	width: 42%;
	margin-right:5%;
}
#enter-ids fieldset {
    border: 3px solid #933;
    height: 750px;
    margin-bottom: 150px;
    -webkit-border-radius: 7px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 7px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 7px;
    box-shadow: 4px 6px 15px -8px #333;
}
#enter-ids textarea {
    height: 500px;

}
#enter-ids legend {
    color: #933;
    paddding: 0 5px;
    font-size: 150%;
    font-weight: bold;
}


#enter-mendeley {
	float:left;
	width: 24%;
	margin-right:5%;
}
#enter-mendeley table input {
    width: 100%;
}

#enter-other {
	float:left;
	width: 24%;
}



#outputs {
	font-size: 10pt;
	float: right;
}
#report h2 {
    text-align:right;
    font-family: 'Lobster Two';
    font-weight: normal;
    font-style: italic;
    margin-right:100px;
    color: #555;
    font-size: 16px;
}


#share {
    clear:both;
}


/* HTML elements */


h3 {
	margin: 0px;
	margin-top:20px;
}

a {
	color: #933;	
}

hr {
	border: 0;
	background-color: #CCC;
	height: 1px;
}

em.url {
	font-style: normal;
	font-size: 90%;
	color: #999;	
}

p.prompt {
	padding: 0em;
	font-size: 1em;    
}

p.howto {
    width: 98%;
    background-color: #EEE;
    color: #666;
    padding: .6em;
    font-size: 110%;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 4px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 4px;
    text-shadow: 1px 1px 0px #FFF;
    margin-top:0;
    margin-bottom: 30px
}

p.sp {
	margin-top: 2em;	
	margin-bottom: 0;	
}

/* about page ************************************************************/

table {
    border-collapse: collapse;
    padding:2px;
    border-color: #999;
}
td {
    padding: 2px 4px;
    border-color: #ccc;
}

/* home page **************************************************************/

p#tagline {
  color: #993333;
    font-family: 'Lobster Two',helvetica,arial,sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 10px;
}


/* form elements */

textarea#artifactList {
	width: 98%;
        margin-bottom: 25px;
}

input, textarea {
	border: 1px solid #CCC;	
        background-repeat:  repeat-x;
	background-color: #fff;
}
input {
    width: 60%;
}


button
{

	border: 1px solid #aaa;
	background-color: #eee;
	color: #333;
        margin-top: 2px;
}
p#name-collection {
    float:right;
    width: 35%;
    margin-top: -3px;
}

#enter-ids input#go-button {
    background-color: #933;
    color: #fff;
    font-size: 36px;
    float:right;
    height: 2em;
    width: 100%;
    font-family: 'Lobster Two', 'Helvetica', arial, sans-serif;
    font-style: italic;
    border:1px solid #333;
}


input.FAQ
{
	border-top: none;
	border-left: none;	
	border-bottom: 1px solid #EEE;
	border-right: 1px solid #EEE;
	background-color: grey;		
	color: #FFF;
}

button:hover
{
	background-color: #933;
        border-color:#333;
	color: #FFF;
}

fieldset {
    border: 2px dotted #CCC;
    margin-top:0.5em;

}

legend {
	font-size: 1.2em;
	color: #888;
	padding:0;
}
legend span {
    font-family: 'Lobster Two', helvetica, arial, sans-serif;
    font-style:italic;
    font-size: 80%;
    color: #bbb;

}

/* custom classes */

.disabled { 
    color:grey; /* This property is for the text colour */ 
    }

.entry .id {
	font-size: 8pt;
	padding-left: 18px;
	padding-bottom: 4px;
	
}

.entry .metric_value {
	font-size: 32pt;
	float: left;
	color: #4c4cff;
	padding-left: 18px;
	padding-right: 8px;	
	border-right-style:solid;
}

.entry .metric_info {
	float:left;
	
}
.entry .metric_name {
	padding-top: 3px;
	padding-left: 20px;
	font-size: 12pt;
	
}

.entry .metric_img {
    padding-top: 8px;
	padding-left: 20px;
}
        
        
.section-title {
    background: lightgrey;
	clear:both;
}

.section {
}

div#about_metrics {
	margin-top: 2em;	
	background-color: #EEE;
	padding: 1em 2em 3em 2em;
}
div#twitterfeed {
    margin-top: -513px;
    height:300px;
    clear:both;
    float:right;
    width: 52%;
}

div#footer {
	margin-top: 2em;	
	padding: 1em 2em 3em 2em;
        border-top:4px dotted #ddd;
        text-align: right;
        clear:both;
        color: #aaa;
}




/* report meta *************/


#report h2 {
    text-align:left;
    font-family: 'Lobster Two';
    font-weight: normal;
    font-style: italic;
}
#report h2 span.title {
    font-family: 'helvitica', 'arial', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size:50px;
    color:#933;
    text-shadow: #ddd 2px 2px 2px;
    margin-left: 10px;
}
#report-meta {
    left: 0;
    margin-left: 371px;
    position: relative;
    top: 41px;
}

span.badge {
    float:left;
    font-size: 75%;
    padding-top:5px;
    margin-left: 10px;
}

 a.report-button  {
    margin-right: 5px;
    margin-bottom: 5px;
    background: #EEE;
    padding: 2px 3px;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 3px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 3px;
    text-shadow: 1px 1px 0px #FFF;
    font-size: 90%;
    text-decoration: none;
    color: #999;
    display: block;
    height:1.3em;
    padding-left:8px;
    padding-right:8px;
    float:left;
}
a.report-button:hover {
    background: #933;
    color:#fff;
    text-shadow:none;
    text-decoration:none;
}

#share {
    clear:both;
    padding-top:7px;
    float:left;
}

#permalink {
    float:right;
    margin-right: 25px;
}
#permalink a.copyable  {
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 3px;
    padding: 2px 3px;
	border: 1px solid #CCC;
    -webkit-border-radius: 3px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 3px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 3px;	
	text-shadow: 1px 1px 0px #FFF;	
	font-size: 90%;
	text-decoration: none;
	color: #999;
}
#permalink a#copy-permalink {
    font-size: 75%;
    cursor: pointer;
    color:#999;
    text-decoration: underline;
}
#permalink a#copy-permalink.hover {
    color: #933;
}
#permalink a {
	text-decoration: none;
}
#permalink span.label {
    font-family:'Lobster Two';
    font-style:italic;
    color:#555;
}


.debugging {
	float: right;
	margin-right: .5em;	
}

.something-missing {
	clear: left;
	margin-right: .5em;	
	padding-top: .5em;
        font-size: 75%;
        color: #777;
        text-align:right;
}

.created-at {
	float: left;
	margin-right: .5em;	
}

.updated-at {
	float: left;
	margin-right: .5em;	
}

.permalink {
	float: left;
	margin-right: .5em;	
}

.artifacts-count {
	float: left;
	margin-right: .5em;	
}

.tweet-this {
	float:right;
}
.tweet-this iframe {
    width:97px;
}

.twitter-feed {
    clear:both; 
    padding-top: 30px;
}
input.report {
	border-top: none;
	border-left: none;
	border-bottom: 1px solid #EEE;
	border-right: 1px solid #EEE;
	background-color: #933;
	color: #FFF;
        margin-top:3px;
        height:28px;
}

/** report printout ******************************************************/

div#metrics {
    margin-top:100px;
}

li.artifact {
	list-style-type: none;
	border: 0px solid #CCC;
	padding: 0.3em;
	margin-bottom: 1em;
	clear: left;
}

li.artifact h4 {
	font-weight: normal;
	margin:0;
	padding-top: 1em;
	color: #AAA;
	font-size : 12px;
}
div.genre h3 {
   	font-family: "Lobster Two";
        font-style:italic;
        font-size:30px;
        color:#555;
        padding-left:116px;
        border-bottom: 3px dotted #ddd;
        font-weight:normal;
        margin-top:0;

}

div.genre {
   float:left;
   width:100%;
   margin-bottom:40px;
   
}


div.genre ul {
    padding:0;
}
ul.metrics li, ul.biblio li{
    list-style-type:none;
}
ul.biblio {
    width:350px;
    float:left;
    margin:0;
    padding:0;
    color:#222;
}

span.missing.biblio {
    font-size:12px;
}
span.missing {
    font-style:italic;
    color:#333;
}
ul.biblio span.meta-repo {
    font-size:70%;
    font-style: italic;
}
ul.metrics {
    margin-left: 365px;
}
ul.metrics li {
    float: left;
    height: 4em;
}

ul.metrics a {
        text-align:center;
}

ul.metrics span.metric-value {
    font-weight: bold;
    list-style-type:none;
    padding:0 5px;
    margin-bottom: 2px;
    -webkit-border-radius: 3px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 3px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 3px;
    display:block;
}
ul.metrics a:hover {
    text-decoration: none;
}
ul.metrics a:hover span.metric-value {
    background: #933;
    color:#fff;
}
ul.metrics li:hover span.metric-name {
    color:#933;
}
.metric-name {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=3)';
    color: #CCCCCC;
    display: block;
    font-size: 50%;
    width: 4em;
    margin: 7px auto 0;
}
span.meta-doi {
    display: none;
}

ul.source-list {
	padding: 0;	
}

.metric-image {
    margin: 4px 3px;
}

.metric-img-name {
    display:block;
}




ul.source-list_NO {
	padding: 0;	
    clear: left;
}

.metrics-div_NO {
    width: 40px;
    position: relative;
    padding:10px 30px 0;
    float: left;
}

.metric-name_NO {
	font-size: 10%;    
    rotation: 90deg !important;
     -moz-transform: rotate(-90deg);  /* FF3.5+ */
       -o-transform: rotate(-90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */
         display:block;
         position:absolute;
         left: 18px;
         color: purple;
         word-wrap: break-word;
}
