/* globals */


body {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    border-top:4px solid #933;
    background-color: #eee;
    background-image: url(./img/body-bg-grad.jpeg);
    background-position: 50% -76px;
    background-repeat: no-repeat;
}

body a:link {
    text-decoration: none;
    cursor: pointer;    
}
body a:hover {
    text-decoration: underline;
}

div.wrapper {
    margin: 0 auto;
    width: 1084px;
}

body div#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #777;
    background-color: #333;
    padding: 10px;
    color:#eee;
    opacity: 0.9;
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    width: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    box-shadow: 2px 2px 3px #555;
}
body div#tooltip.viewport-right {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
}


div#tooltip p, div#tooltip div, div#tooltip h3 {
    margin:0;
    padding:0;
}

/* header ************************************/

#header {
    font-size: 1.5em;
    color: #BBB;
}

h1 a {
    background-image:url(./img/ti_logo.png);
    background-repeat: no-repeat;
    background-color:#dadada;
    height: 52px;
    text-indent: -9999px;
    width: 253px;
    padding-top:10px;
    margin-left:40px;
    border: 3px solid #933;
    border-top: 1px solid #999;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    display:block;
    position: absolute;
    top:0;
    left:75px;
    box-shadow: -1px 0 10px -2px #333333;
    cursor: pointer;       
}


ul#nav {
    margin-top: -31px;
    text-align: right;
    font-size: 20px;
    font-family: 'Lobster Two', helvetica, arial, sans-serif;
    font-style: italic;
    position: absolute;
    top:30px;
    right: 90px;

}

ul#nav li {
    display:block;
    float:right;
    list-style-type:none;
    margin-right:15px;

}
ul#nav li a {
    padding: 5px 10px 0;
    background-color: #aaa;
    color: #fff;
    display:block;
    border:1px solid #ddd;
    border-top:5px solid #888;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    box-shadow: -2px 1px 5px -1px #333333; 
    cursor: pointer;           
}

ul#nav li a:hover {
    text-decoration: none;
    padding-top: 8px;
}

/* about ************************************/

div#about{
    margin-top: 120px;
}
#toc {
    border: 1px solid #333333;
    float: right;
    margin: 0 21px 12px;
    padding: 16px;
    text-align: left;
    -webkit-border-radius: 4px;    /* CSS3 rounded borders for Safari      */              
    -moz-border-radius: 4px;       /* CSS3 rounded borders for Firefox   */
}

a.tocBackLink {
    text-align: right;
    font-size: 10px;
    font-weight: normal;
    margin-left: 10px;
}
body#about h2 {
    margin-top: 40px;
}

/* input
*****************************************************************************/

/* general */
#input {
    background: #fff;
    float:left;
    width:100%;
    box-shadow: 0 2px 5px 0 #999999;
    min-height: 400px;
    background: url(./img/grey-bar.png) left -5px repeat-x;
    background-color:#fff;
    border-bottom:1px solid #933;
}
#input h2 {
    width:100%;
    margin:0 0 20px 0;
    padding: 10px;
    color:#fff;
    background:url(./img/right-chevron.png) no-repeat right center;
}

#input span.loading {
    display:block;
}
#input input {
    float:left;
    margin: 2px 7px 0 0;
    padding:2px 0;
    -webkit-border-radius: 3px;    /* CSS3 rounded borders for Safari      */
    -moz-border-radius: 3px;       /* CSS3 rounded borders for Firefox   */
    border: 1px solid #CCC;
    width:60%
}
#input button {
    margin:0;
}

p.prompt {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #777;
}
div.toggler_contents {
    margin: 0  0 10px 13px;
}
span.loading img {
    height: 18px;
}
span.loading {
    color: #777;
    font-size: 12px;
}


/* the importers column */

#importers ul {
    clear:both;
    margin-bottom:0;
}
#importers ul li {
    list-style-type: none;
    margin-top:.1em;
}
#importers table input {
    width: 100%;
}
#importers li a:hover {
}
#importers li span.pointer {
    font-size: .7em;
    position:relative;
    top:-.3em;
    text-decoration: none;
    color: #933;
}


#importers span.response span.count {
    font-weight: bold;
    color: #333;
    font-size:18px;
}

#input div.inputcol {
    width: 28%;
    padding: 0 2% 50px;
    float:left;
}
#importers fieldset {
    border: 1px solid #CCC;
    margin-bottom: 1em;
    -webkit-border-radius: 4px;    /* CSS3 rounded borders for Safari      */
    -moz-border-radius: 4px;       /* CSS3 rounded borders for Firefox   */
}
#importers em.url {
    font-style: normal;
    font-size: 90%;
    color: #999;
    width:100%;
    display:inline-block;
}



#importers #manual-add button {
    margin: 0;
    float:right;
}
#importers #manual-add textarea {
    width: 98%;
    font-size: 80%;
    padding: .3em;
    color: #333;
}
#importers div.something-missing p {
    margin:10px 0 0;
    padding:0;
    font-size: 12px;
    color: #999;
}
#importers div.something-missing {
    clear:both;
    margin:0 0 0 53px;
}



/* edit-collection column */
#edit-collection #artcounter {
    background-color: #EEE;
    color: #666;
    padding: .6em;
    -webkit-border-radius: 4px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 4px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 4px;
    text-shadow: 1px 1px 0px #FFF;
    margin-top:0;
    margin-bottom: 0px
        margin-right:10px;
    border: 1px solid #EEE;
    font-size: 14px;
    width: 80%;
}
a#clear-artifacts {
    font-size: 75%;
    cursor: pointer;
    color:#999;
    text-decoration: underline;
}
a#clear-artifacts:hover {
    color: #933;
}
#edit-collection #artcounter span.count {
    font-weight: bold;
    font-size:20px;
    color: #933;
}
#edit-collection ul {
    margin-left:0;
    padding-left:0;
}
#edit-collection ul li {
    list-style-type:none;
    margin-bottom: 3px;
    font-size: 12px;
    clear:both;
    color: #333;
}
#edit-collection ul li a {
    text-indent:-9999px;
    display:inline-block;
    width: 12px;
    height: 12px;
    background: url(./img/remove-icon.png) 0 0;
    margin:1px 2px 0 0;
    float:left;
}
#edit-collection ul li a:hover {
    background-position: 0 12px;
}

#edit-collection ul li span {
    word-wrap: break-word;
    float:left;
    width: 90%;
}



/* create-collection column */
div#create-collection {
    
}
#create-collection h2 {
    background:none;
}
div#create-collection input#name {
    font-size: 22px;
    color: #933;
}

div.quick-collection {
    margin: 40px 0 0 10px;
}
div.quick-collection p {
    margin:0;
}
div.quick-collection button {
    float: left;
}
div.quick-collection span.loading {
    display:block;
    float:left;
}
#input div.quick-collection input {
    width: 98%;
    float:none;
}
#input div.quick-collection button, #input div.quick-collection span.loading {
    float:left;
    width: 50%;
    margin:6px 0 0 0;
}

#create-collection p#name-collection {
    float:left;
    width: 25%;
    margin:0 2% 0 0;
    line-height: 1;
    font-size: 17px;
    text-align: right;
    color: #777;
}


#create-collection button.go-button {
    margin: 10px 0 0 5%;
    background-color: #933;
    color: #fff;
    font-size: 2em;
    width: 85%;
    font-family: 'Lobster Two', 'Helvetica', arial, sans-serif;
    font-style: italic;
    border:1px solid #933;
    -webkit-border-radius: 10px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 10px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 10px;
}

#create-collection button.go-button:hover {
    background-color: #800000;
    cursor:pointer;
    border:1px solid #000;
}











#report h2 {
    text-align:right;
    font-family: 'Lobster Two';
    font-weight: normal;
    font-style: italic;
    margin-right:100px;
    color: #555;
    font-size: 16px;
}


#share {
    clear:both;
}


/* HTML elements */


h3 {
    margin: 0px;
    margin-top:20px;
}

a {
    color: #933;
    cursor: pointer;		
}

hr {
    border: 0;
    background-color: #CCC;
    height: 1px;
}





p.howto {
    width: 98%;
    color: #666;
    font-size: 110%;
    margin-top:0;
    margin-bottom: 30px
}

p.sp {
    margin-top: 2em;
    margin-bottom: 0;
}

/* updating page ********************************************************/
h2.loading {
    font-family: 'Lobster Two', Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 50px;
    margin: 200px auto;
    width: 800px;
    font-style: italic;
}
h2.loading span {
    display:block;
    font-size: 15px;
    font-family: "Helvetica Neue", "helvetica", 'arial', sans-serif;
}

/* about page ************************************************************/

table {
    border-collapse: collapse;
    padding:2px;
    border-color: #999;
}
td {
    padding: 2px 4px;
    border-color: #ccc;
}

/* home page **************************************************************/

p#tagline {
    color: #993333;
    font-family: 'Lobster Two',helvetica,arial,sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 10px;
}






input.FAQ
{
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    background-color: grey;
    color: #FFF;
}



/* custom classes */

.entry .id {
    font-size: 8pt;
    padding-left: 18px;
    padding-bottom: 4px;

}

.entry .metric_value {
    font-size: 32pt;
    float: left;
    color: #4c4cff;
    padding-left: 18px;
    padding-right: 8px;
    border-right-style:solid;
}

.entry .metric_info {
    float:left;

}
.entry .metric_name {
    padding-top: 3px;
    padding-left: 20px;
    font-size: 12pt;

}

.entry .metric_img {
    padding-top: 8px;
    padding-left: 20px;
}


.section-title {
    background: lightgrey;
    clear:both;
}

.section {
}

div#about_metrics {
    float:left;
}






/* footer
***********************************************************/

div#footer {
    font-size:100%;    
    padding: 2em 2em 3em 2em;
    border-top:1px dotted #ddd;
    clear:both;
    color: #aaa;
}

div.footercol {
    width: 30%;
    float:left;
    padding-right: 2%;
    margin-right: 2%;
    border-right: 1px dotted #bbb;
    min-height: 330px;
}
div#twitterfeed {
}

div.recent-changes {
    color:#333;
    float: left;
    margin-left: 2%;
}
div.recent-changes h4 {
    margin:10px 0;
}
div.recent-changes a {
    color: #933;
}
div.recent-changes ul {
    padding:0;
    margin:0;
    font-size: 12px
}
div.recent-changes ul li {
    list-style-type: none;
    margin-bottom: .7em;
}

div.altmetrics {
    float:right;
    text-align: right;
    margin-top: 10px;
    width: 25%;
    padding-right:0;
    border-right:none;
}

div.altmetrics p {
    padding: 0;
    margin: 0;
}


/* report meta *************/


#report h2 {
    text-align:left;
    font-family: 'Lobster Two';
    font-weight: normal;
    font-style: italic;
    margin-right:0;
}
#report h2 span.title {
    font-family: 'helvitica', 'arial', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size:50px;
    color:#933;
    text-shadow: 1px 1px 0px #FFF;
    margin-left: 10px;
}
#report-meta {
    left: 0;
    margin-left: 370px;
    position: relative;
    top: 41px;
}

span.badge {
    float:left;
    font-size: 75%;
    padding-top:5px;
}

a.report-button  {
    margin-right: 5px;
    margin-bottom: 5px;
    background: #aaa;
    padding: 2px 3px;
    border: 1px solid #888;
    -webkit-border-radius: 3px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 3px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 3px;
    font-size: 90%;
    text-decoration: none;
    color: #fff;
    display: block;
    height:1.3em;
    padding-left:8px;
    padding-right:8px;
    float:left;
}
a.report-button:hover {
    background: #933;
    color:#fff;
    text-shadow:none;
    text-decoration:none;
}

#share {
    clear:both;
    padding-top:7px;
    float:left;
}

#permalink {
    float:right;
    margin-right: 25px;
}
#permalink a.copyable  {
    margin-top: 3px;
    margin-right: 5px;
    margin-bottom: 3px;
    padding: 2px 3px;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 3px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 3px;	
    text-shadow: 1px 1px 0px #FFF;
    font-size: 90%;
    text-decoration: none;
    color: #999;
    background:#fff;
}
#permalink a#copy-permalink {
    font-size: 75%;
    cursor: pointer;
    color:#999;
    text-decoration: underline;
}
#permalink a#copy-permalink.hover {
    color: #933;
}
#permalink a {
    text-decoration: none;
}
#permalink span.label {
    font-family:'Lobster Two';
    font-style:italic;
    color:#555;
}


.debugging a {
    float: left;
    text-decoration: none;
    color: #FFF;
}

p.something-missing {
    clear: left;
    padding: 0 20px 20px 0;
    font-size: 75%;
    color: #999;
    background:#fff;
    text-align: right;
    margin:0;
    box-shadow: 0 2px 5px 0 #999999;
}

.created-at {
    float: left;
    margin-right: .5em;
}

.updated-at {
    float: left;
    margin-right: .5em;
}

.permalink {
    float: left;
    margin-right: .5em;
}

.artifacts-count {
    float: left;
    margin-right: .5em;
}

.tweet-this {
    float:right;
}
.tweet-this iframe {
    width:97px;
}

.twitter-feed {
    clear:both; 
    padding-top: 30px;
}
input.report {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    background-color: #933;
    color: #FFF;
    margin-top:3px;
    height:28px;
}

/** report printout ******************************************************/

div#metrics {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 3px solid #993333;
    float: left;
    margin-top: 54px;
    padding-top: 50px;
    width: 100%;
}
div#metrics div.wrapper {
}

li.artifact {
    border: 0 solid #CCCCCC;
    clear: left;
    list-style-type: none;
    margin: 0 auto 1em;
    padding: 0.3em;
    width: 1048px;
}

li.artifact h4 {
    font-weight: normal;
    margin:0;
    padding-top: 1em;
    color: #AAA;
    font-size : 12px;
}
div.genre h3 {
    font-family: "Lobster Two";
    font-style:italic;
    font-size:30px;
    color:#555;
    padding-left:23%; /* crazy hack. I want to give these a width and use auto, but I'm using h3 for my border right now. Will switch to ul */
    border-bottom:1px solid #555;
    font-weight:normal;
    margin-top:0;

}

div.genre {
    float:left;
    width:100%;
    margin-bottom:40px;
}
div.genre:first-child {
    margin-top: -91px;
}
div.genre:first-child h3 {
    border-bottom:none;
}

div.genre ul {
    padding:0;
}
ul.metrics li, ul.biblio li, ul.about li{
    list-style-type:none;
}
ul.biblio {
    width:350px;
    float:left;
    margin:0;
    padding:0;
    color:#222;
}

span.missing.biblio {
    font-size:12px;
}
span.missing {
    font-style:italic;
    color:#333;
}
ul.biblio span.meta-repo {
    font-size:70%;
    font-style: italic;
}
ul.metrics {
    margin-left: 365px;
}
ul.metrics li {
    float: left;
    height: 5em;
}

ul.metrics a {
    text-align:center;
}

ul.metrics span.metric-value {
    font-weight: bold;
    list-style-type:none;
    padding:0 5px;
    margin-bottom: 2px;
    -webkit-border-radius: 3px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 3px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 3px;
    display:block;
}
ul.metrics a:hover {
    text-decoration: none;
}
ul.metrics a:hover span.metric-value {
    background: #933;
    color:#fff;
}
ul.metrics li:hover span.metric-name {
    color:#933;
}
.metric-name {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=3)';
    color: #aaa;
    display: block;
    font-size: 9px;
    width: 30px;
    margin: 7px auto 0;
}
span.meta-doi {
    display: none;
}

ul.source-list {
    padding: 0;
}

.metric-image {
    margin: 4px 3px;
}

.metric-img-name {
    display:block;
}




ul.source-list_NO {
    padding: 0;
    clear: left;
}

.metrics-div_NO {
    width: 40px;
    position: relative;
    padding:10px 30px 0;
    float: left;
}

.metric-name_NO {
    font-size: 10%;
    rotation: 90deg !important;
    -moz-transform: rotate(-90deg);  /* FF3.5+ */
    -o-transform: rotate(-90deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */
    display:block;
    position:absolute;
    left: 18px;
    color: purple;
    word-wrap: break-word;
}
